:root{
  /* color set 1 */
  /* --back-ground-color1: #D3F1DF;
  --back-ground-color2: #85A98F;
  --back-ground-color3: #5A6C57;
  --back-ground-color4: #525B44; */
  /* color set 2 */
  /* --back-ground-color1: #F8FAFC;
  --back-ground-color2: #D9EAFD;
  --back-ground-color3: #BCCCDC;
  --back-ground-color4: #9AA6B2; */
  /* color set 3 */
  /* --back-ground-color1: #FAF6E3;
  --back-ground-color2: #D8DBBD;
  --back-ground-color3: #B59F78;
  --back-ground-color4: #2A3663; */
  /* color set 4 */
  --back-ground-color1: #DFF2EB;
  --back-ground-color2: #B9E5E8;
  --back-ground-color3: #7AB2D3;
  --back-ground-color4: #4A628A;
  --hover-color3: #558eaf;
  --hover-color4: #7293ca;
  --logo-font-family: 'Rubik Doodle Shadow', system-ui; 
  --site-font-family: 'Rubik, sans-serif';
}

body{
  background-color: var(--back-ground-color1);
}